
body{
    background-color: rgba(0, 0, 0, 0.897)!important;
    color: #ffffff!important;
    font-family: 'Source Code Pro', monospace !important;
  }

.ince{
  
  text-align:center;
}

table {
    font-family: arial, sans-serif !important;
    border-collapse: collapse !important;
    width: 100%!important;
  }
  
  td, th {
    border: 2px solid #dddddd !important;
    text-align: left;
    padding: 10px;
  }

.why{
  text-align: Left;
}

.button{
  font-size: 20px;
  border-radius: 12px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #555555;
  color: white;
  
}
.descrizione{
  text-align: center;
  width: 100%;
}

.LCert{
  float: left;
  width: 30%;
  height: auto;

  
}

.LComp{
  float: left;
  width: 35%;
  height: auto;
  
}

.why{
  float: left;
  width: 35%;
  height: auto;
}

.future{
  text-align: center;
}
