<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;">Curriculum Vitae</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style=" max-width:60rem;">
    <div>

      <ion-card style="text-align:center ;">
        <img src="../../../assets/icon/immagine.PNG" />
        <ion-card-header>
          <ion-card-title>Francesco Plutino</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Mi chiamo Francesco ho 23 anni e sono di Reggio Calabria. Ho conseguito il diploma come <b>Perito
            informatico</b>
          nel 2017 e negli anni a venire mi sono appassionato sempre di più al come fossero creati i software,
          e a quali potenzialità e pericoli si potessero celare all'interno. Ho studiato per 6 mesi in un istituto
          professionale conseguendo la qualifica di <b>Responsabile della sicurezza di reti informatiche e della
            protezione dei dati</b>, e per altri 4 mesi ho affrontato uno stage in un'azienda di sicurezza delle reti e
          dati dove mi sono
          interessato ancora di più alla programmazione.
        </ion-card-content>
      </ion-card>

    </div>
    <div>
      <ion-row>
        <ion-col width-40>Autonomia</ion-col>
        <ion-col width-40>Autostima</ion-col>
        <ion-col width-40>Adattamento</ion-col>
        <ion-col width-40>Pianificazione</ion-col>
        <ion-col width-40>Precisione</ion-col>
        <ion-col width-40>Intraprendenza</ion-col>
        <ion-col width-40>Problem solving</ion-col>
        <ion-col width-40>Lavoro di gruppo</ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-40>8</ion-col>
        <ion-col width-40>7</ion-col>
        <ion-col width-40>8</ion-col>
        <ion-col width-40>9</ion-col>
        <ion-col width-40>9</ion-col>
        <ion-col width-40>7</ion-col>
        <ion-col width-40>10</ion-col>
        <ion-col width-40>7</ion-col>
      </ion-row>
    </div>
    <div>
      <ion-row style="justify-content:space-around;">
        <ion-col>
          <ion-card>
            <ion-card-content>
              <h3> Lista di competenze acquisite:</h3>
              <ul>
                <li>Critical thinking</li>
                <li>Problem Solving</li>
                <li>Ottima padronanza della lingua Inglese</li>
              </ul>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <h3>Lista Certificazioni</h3>
              <ol>
                <li>ECDL</li>
                <li>Cambridge First Certificate English</li>
                <li>Cisco Networking Academy Course It Essentials</li>
              </ol>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-content>
              <h2>Piani Futuri</h2>
              <p>Alla fine di questo boot camp ho intenzione, nel mio tempo libero, di concentrarmi sull'accrescere le
                mie
                competenze di programmazione aggiungendo altri linguaggi al mio arsenale e approfondire i miei studi nel
                campo della cyber security.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>
    <div>
      <ion-card>
        <ion-card-content>
          <p>
            Sono sempre stato interessato al mondo dell'informatica, grazie alla mia natura caparbia e curiosa ho
            sempre cercato di migliorare e perfezionare il modo in cui faccio le cose.
            Il campo dell'informatica e la programmazione in particolare mi permette di sfruttare la mia curiosità e
            la mia ostinazione per dare un contributo significativo al progetto o qualunque obbiettivo io mi ponga.
          </p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>